/* TYPOGRAPHY */
/* COLORS */
/* MIXINS RESPONSIVE */
/* GENERAL STYLES */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  background-color: white;
  color: black;
  font-weight: 400;
}

/* TEXT */
a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-weight: 500;
}

/* SPACING */
.container {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.containerTxt {
  max-width: 90%;
  margin: 0 auto;
}

/* FLEXBOX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-js-c {
  -ms-grid-column-align: center;
      justify-self: center;
}

.flex-js-fe {
  -ms-grid-column-align: end;
      justify-self: end;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: #3e52a3;
}

/* HEADER */
body.open {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
}

header {
  min-height: 100vh;
  background-image: url("https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  header {
    background-image: url("https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-hero.jpg");
  }
}

header nav {
  padding-top: 2rem;
  width: 100%;
}

header nav .logo {
  position: relative;
  z-index: 11;
}

header nav li a {
  position: relative;
}

header nav li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0.2rem;
  top: 150%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

header nav li a:hover::after {
  -webkit-animation: underlineNav 0.2s linear forwards;
          animation: underlineNav 0.2s linear forwards;
}

header nav .mobile-menu {
  height: 2rem;
  cursor: pointer;
  position: relative;
  padding: 0 1.5rem;
  z-index: 11;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (min-width: 768px) {
  header nav .mobile-menu {
    display: none;
  }
}

header nav .mobile-menu span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 2.4rem;
  background-color: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header nav .mobile-menu span:nth-child(1) {
  top: 0px;
}

header nav .mobile-menu span:nth-child(2) {
  top: 10px;
}

header nav .mobile-menu span:nth-child(3) {
  top: 20px;
}

header nav .mobile-menu-active {
  position: absolute;
  width: 100vw;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  visibility: hidden;
  background-color: black;
  z-index: 10;
  padding: 1rem;
}

header nav .mobile-menu-active ul {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  padding: 3rem;
  margin-bottom: 2rem;
}

header nav .mobile-menu-active ul li {
  margin: 1.5rem 0;
}

header nav .mobile-menu-active ul li a {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

header nav.open .mobile-menu-active {
  visibility: visible;
  -webkit-animation: anim-menu 0.7s ease forwards;
          animation: anim-menu 0.7s ease forwards;
}

header nav.open .mobile-menu span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header nav.open .mobile-menu span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

header nav.open .mobile-menu span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

header nav .main-menu {
  display: none;
}

@media (min-width: 768px) {
  header nav .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav .main-menu li {
  margin: 0 2rem;
}

header nav .main-menu a {
  color: white;
}

header nav .main-menu button {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 2.2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .main-menu button:hover {
  background-color: rgba(255, 255, 255, 0.404);
  color: white;
}

header .hero {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .hero h1 {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  border: white solid 0.2rem;
  padding: 2rem;
  display: inline-block;
}

@media (min-width: 768px) {
  header .hero h1 {
    font-size: 7rem;
    width: auto;
  }
}

/* HOVER LINKS NAV */
@-webkit-keyframes underlineNav {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes underlineNav {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-menu {
  0% {
    -webkit-transform: translateX(100%) scale(1.4, 1);
            transform: translateX(100%) scale(1.4, 1);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1, 1);
            transform: translateX(0%) scale(1, 1);
  }
}

@keyframes anim-menu {
  0% {
    -webkit-transform: translateX(100%) scale(1.4, 1);
            transform: translateX(100%) scale(1.4, 1);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1, 1);
            transform: translateX(0%) scale(1, 1);
  }
}

/* SERVICES */
/* ABOUT SECTION */
.interactive {
  margin-top: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 768px) {
  .interactive {
    -ms-grid-columns: 1fr 0.5fr 1fr;
        grid-template-columns: 1fr 0.5fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.interactive-img {
  grid-row: 1/-1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .interactive-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.interactive-img img {
  height: auto;
  max-width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .interactive-img img {
    width: auto;
  }
}

.interactive-txt {
  background-color: white;
  padding: 4rem 4rem 0 4rem;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 2/-1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .interactive-txt {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.interactive-txt h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.interactive-txt p {
  color: #8c8c8c;
  max-width: 80%;
}

@media (min-width: 768px) {
  .interactive-txt p {
    text-align: left;
  }
}

/* OUR CREATIONS SECTION */
.creations {
  margin-top: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 2rem;
}

@media (min-width: 768px) {
  .creations {
    gap: 3rem;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 50rem 50rem;
        grid-template-rows: 1fr 50rem 50rem;
  }
}

.creations h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .creations h2 {
    text-align: left;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

.creations button {
  background-color: white;
  border-radius: 0%;
  border: solid black 0.1rem;
  padding: 0.5rem 4rem;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -ms-grid-row: 10;
  grid-row: 10;
}

@media (min-width: 768px) {
  .creations button {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    margin: 0;
  }
}

.creations button:hover {
  background-color: black;
  border: solid white 0.1rem;
  color: white;
}

.creations div {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-height: 20rem;
  background-position: center top;
}

.creations div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: white;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.creations div:hover::after {
  opacity: 0.5;
}

.creations div a {
  color: white;
  display: inline-block;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .creations div a {
    font-size: 3rem;
    padding: 3rem;
  }
}

.creations div:hover a {
  color: black;
}

.creations-deepearth {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-deep-earth.jpg);
}

@media (min-width: 768px) {
  .creations-deepearth {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-deep-earth.jpg);
  }
}

.creations-nightarcade {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-night-arcade.jpg);
}

@media (min-width: 768px) {
  .creations-nightarcade {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-night-arcade.jpg);
  }
}

.creations-soccerteam {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-soccer-team.jpg);
}

@media (min-width: 768px) {
  .creations-soccerteam {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-soccer-team.jpg);
  }
}

.creations-thegrid {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-grid.jpg);
}

@media (min-width: 768px) {
  .creations-thegrid {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-grid.jpg);
  }
}

.creations-fromup {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-from-above.jpg);
}

@media (min-width: 768px) {
  .creations-fromup {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-from-above.jpg);
  }
}

.creations-pocketborealis {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-pocket-borealis.jpg);
}

@media (min-width: 768px) {
  .creations-pocketborealis {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-pocket-borealis.jpg);
  }
}

.creations-curiosity {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-curiosity.jpg);
}

@media (min-width: 768px) {
  .creations-curiosity {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-curiosity.jpg);
  }
}

.creations-makeit {
  background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-fisheye.jpg);
}

@media (min-width: 768px) {
  .creations-makeit {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-fisheye.jpg);
  }
}

/* FOOTER */
footer {
  margin-top: 8rem;
  background-color: black;
  color: white;
}

footer > div {
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 768px) {
  footer > div {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

footer > div div {
  padding: 1rem;
}

@media (min-width: 768px) {
  footer .footer-navigation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

footer .footer-navigation ul li {
  padding: 1rem 0;
}

@media (min-width: 768px) {
  footer .footer-navigation ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-navigation ul:first-child a {
    margin: 1rem 1rem 1rem 0;
  }
}

@media (min-width: 768px) {
  footer .footer-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  footer .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer .footer-copyright {
  color: #8c8c8c;
}

@media (min-width: 768px) {
  footer .footer-copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer .footer a {
  position: relative;
  margin: 1rem 1rem;
  color: white;
}

footer .footer a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0.2rem;
  top: 120%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

footer .footer a:hover::after {
  -webkit-animation: underlineNav 0.2s linear forwards;
          animation: underlineNav 0.2s linear forwards;
}
/*# sourceMappingURL=help.css.map */