/* TYPOGRAPHY */
$displayFont: "Josefin Sans", sans-serif;
$bodyTextFont: "Alata", sans-serif;

/* COLORS */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

/* MIXINS RESPONSIVE */
$screenMin1440: 1440px;
$screenMax768: 768px;

@mixin screenMin1440 {
  @media (min-width: #{$screenMin1440}) {
    @content;
  }
}

@mixin screenMax768 {
  @media (min-width: #{$screenMax768}) {
    @content;
  }
}

/* GENERAL STYLES */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.5rem;
  font-family: $bodyTextFont;
  background-color: $white;
  color: $black;
  font-weight: 400;
}

/* TEXT */
a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: $displayFont;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-weight: 500;
}

/* SPACING */
.container {
  max-width: 95%;
  margin: 0 auto;
  @include screenMin1440 {
    max-width: 1440px;
  }
}
.containerTxt {
  max-width: 90%;
  margin: 0 auto;
}

/* FLEXBOX */
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-s {
    align-items: start;
  }
  &-ai-fe {
    align-items: flex-end;
  }

  &-fd-c {
    flex-direction: column;
  }

  &-js-c {
    justify-self: center;
  }

  &-js-fe {
    justify-self: end;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* HEADER */
body {
  &.open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  }
}
header {
  min-height: 100vh;
  background-image: url("https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  @include screenMax768 {
    background-image: url("https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-hero.jpg");
  }
  & nav {
    padding-top: 2rem;
    width: 100%;
    & .logo {
      position: relative;
      z-index: 11;
    }
    & li {
      & a {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: $white;
          height: 0.2rem;
          top: 150%;
          left: 50%;
          transform-origin: center;
          transform: translate(-50%, -50%);
          transition: all 200ms ease-in-out;
        }
        &:hover::after {
          animation: underlineNav 0.2s linear forwards;
        }
      }
    }

    & .mobile-menu {
      height: 2rem;
      cursor: pointer;
      position: relative;
      padding: 0 1.5rem;
      z-index: 11;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      @include screenMax768 {
        display: none;
      }
      & span {
        display: block;
        position: absolute;
        height: 1.5px;
        width: 2.4rem;
        background-color: $white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }
      & span:nth-child(1) {
        top: 0px;
      }
      & span:nth-child(2) {
        top: 10px;
      }
      & span:nth-child(3) {
        top: 20px;
      }
    }
    & .mobile-menu-active {
      position: absolute;
      width: 100vw;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      overflow: scroll;
      overflow-x: hidden;
      visibility: hidden;
      background-color: $black;
      z-index: 10;
      padding: 1rem;

      & ul {
        font-size: 2.5rem;
        font-family: $displayFont;
        height: 100%;
        padding: 3rem;
        margin-bottom: 2rem;
        & li {
          margin: 1.5rem 0;
          & a {
            color: $white;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }
    &.open {
      .mobile-menu-active {
        visibility: visible;
        animation: anim-menu 0.7s ease forwards;
      }
      .mobile-menu {
        & span:nth-child(1) {
          top: 10px;
          transform: rotate(135deg);
        }
        & span:nth-child(2) {
          opacity: 0;
          left: -20px;
        }
        & span:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }

    & .main-menu {
      display: none;
      @include screenMax768 {
        display: flex;
      }
      & li {
        margin: 0 2rem;
      }
      & a {
        color: $white;
      }
      & button {
        display: inline-block;
        background-color: $white;

        padding: 1.5rem 2rem;
        text-transform: uppercase;
        font-family: $displayFont;
        border: none;
        border-radius: 2.2rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.404);
          color: $white;
        }
      }
    }
  }
  & .hero {
    color: $white;
    flex: 1;
    align-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    & h1 {
      text-transform: uppercase;
      font-size: 4rem;
      letter-spacing: 0.5rem;
      border: $white solid 0.2rem;
      padding: 2rem;
      display: inline-block;
      @include screenMax768 {
        font-size: 7rem;
        width: auto;
      }
    }
  }
}

/* HOVER LINKS NAV */
@keyframes underlineNav {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes anim-menu {
  0% {
    transform: translateX(100%) scale(1.4, 1);
  }
  100% {
    transform: translateX(0%) scale(1, 1);
  }
}

/* SERVICES */

/* ABOUT SECTION */
.interactive {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include screenMax768 {
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &-img {
    grid-row: 1/-1;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    width: 100%;
    @include screenMax768 {
      justify-content: flex-start;
      align-items: flex-end;
    }
    img {
      height: auto;
      max-width: 100%;
      display: block;
      @include screenMax768 {
        width: auto;
      }
    }
  }
  &-txt {
    background-color: $white;
    padding: 4rem 4rem 0 4rem;
    grid-row: 2;
    grid-column: 2/-1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include screenMax768 {
      justify-content: flex-end;
      align-items: center;
      text-align: left;
    }
    h2 {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
    p {
      color: $darkGray;
      max-width: 80%;
      @include screenMax768 {
        text-align: left;
      }
    }
  }
}

/* OUR CREATIONS SECTION */
.creations {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  @include screenMax768 {
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr max(50rem) max(50rem);
  }
  h2 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    @include screenMax768 {
      text-align: left;
      grid-row: 1;
      grid-column: 1 / span 3;
    }
  }
  button {
    background-color: $white;
    border-radius: 0%;
    border: solid $black 0.1rem;
    padding: 0.5rem 4rem;
    text-transform: uppercase;
    font-family: $bodyTextFont;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    grid-row: 10;
    @include screenMax768 {
      justify-self: end;
      grid-row: 1;
      grid-column: 4 / span 1;
      margin: 0;
    }
    &:hover {
      background-color: $black;
      border: solid $white 0.1rem;
      color: $white;
    }
  }
  div {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.3s;
    min-height: 20rem;
    background-position: center top;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
      background-color: $white;
      opacity: 0;
      z-index: 1;
      transition: 0.3s;
    }
    &:hover::after {
      opacity: 0.5;
    }
    a {
      color: $white;
      display: inline-block;
      position: relative;
      z-index: 3;
      transition: 0.3s;
      padding: 2rem;
      font-size: 2rem;
      @include screenMax768 {
        font-size: 3rem;
        padding: 3rem;
      }
    }
    &:hover a {
      color: $black;
    }
  }
  &-deepearth {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-deep-earth.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-deep-earth.jpg);
    }
  }
  &-nightarcade {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-night-arcade.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-night-arcade.jpg);
    }
  }
  &-soccerteam {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-soccer-team.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-soccer-team.jpg);
    }
  }
  &-thegrid {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-grid.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-grid.jpg);
    }
  }
  &-fromup {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-from-above.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-from-above.jpg);
    }
  }
  &-pocketborealis {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-pocket-borealis.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-pocket-borealis.jpg);
    }
  }
  &-curiosity {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-curiosity.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-curiosity.jpg);
    }
  }
  &-makeit {
    background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/mobile/image-fisheye.jpg);
    @include screenMax768 {
      background-image: url(https://raw.githubusercontent.com/ViktoriiaZaichuk/Frontend-Mentor-Loopstudios-landing-page/main/images/desktop/image-fisheye.jpg);
    }
  }
}

/* FOOTER */
footer {
  margin-top: 8rem;
  background-color: $black;
  color: $white;
  > div {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @include screenMax768 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    div {
      padding: 1rem;
    }
  }
  .footer {
    &-navigation {
      @include screenMax768 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      ul {
        li {
          padding: 1rem 0;
        }
        @include screenMax768 {
          &:first-child a {
            margin: 1rem 1rem 1rem 0;
          }
          flex-direction: row;
        }
      }
    }
    &-logo {
      @include screenMax768 {
        justify-content: flex-start;
      }
    }
    &-social {
      @include screenMax768 {
        display: flex;
        justify-content: flex-end;
      }
    }
    &-copyright {
      color: $darkGray;
      @include screenMax768 {
        justify-content: flex-end;
      }
    }
    & a {
      position: relative;
      margin: 1rem 1rem;
      color: $white;
      &::after {
        content: "";
        position: absolute;
        background-color: $white;
        height: 0.2rem;
        top: 120%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
        transition: all 200ms ease-in-out;
      }
      &:hover::after {
        animation: underlineNav 0.2s linear forwards;
      }
    }
  }
}
