.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/Programming/FirstWebNew/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
      //background-image: url("/Programming/FirstWebNew/images/bg-intro-desktop.svg");
      //background-position: left center;
    }

    &::before,
    &::after {
      // border: 1px solid magenta;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      background-image: url("/Programming/FirstWebNew/images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;
        background-position: 0% 86%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/Programming/FirstWebNew/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-position: center 60%;
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        height: 120%;
        width: 122%;
        background-size: 94%;
        background-position: center 163%;
        left: 13%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
